$color_1: #58402c;
$color_2: #30488f;
$color_3: #bdb5af;
$color_4: #f4efeb;
$color_5: #0e0e0d;

$font_family_1: 'Source Sans Pro', sans-serif;

$background_color_1: #ffffff;
$background_color_2: #ffe7d2;

$weight: 100%;
